@import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Borel&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  background-color: #c4b9f5;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .toggle-btn {
  color: black;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  display: none;
}

header {
  padding-top: 1%;
  background-color: #c4b9f5;
  font-size: 20px;
  font-weight: bolder;
}

.logo a{
  font-family: "Borel", cursive;
  font-size: 40px;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

header a{
    text-decoration: none;
    color: black;
    margin: 5px;
}

li {
  display: inline-block;
}

.logo{
  padding-left: 4%;
}

a:hover{
  color: #4d4d4d;
}

.navbar .toggle-btn{
  color: black;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  display: none;
}

.navbar{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-cascada{
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  top: 60px;
  width: 300px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-cascada li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-cascada .open{
  height: 240px;
}


/* main */

.main{
    padding: 5%;
    background-color: #212121;
}

.titulo {
  text-align: center;
  padding: 2%;
  color: antiquewhite;
  padding-top: 0%;
}

p {
  text-align: center;
  color: antiquewhite;
}

.carousel {
  background-size: cover;
  background-position: center;
  width: 750px;
  height: 540px;
}

.form-label {
  color: antiquewhite;
}

.center-form {
  padding-left: 40%;
}

.btn-enviar {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #c4b9f5 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}
.btn-enviar:hover {
  background-color: #c4b9f5;
  cursor: pointer;
}
.btn-enviar:hover svg {
  transform: translateX(5px);
}
.btn-enviar svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.text {
  margin: 0 1.5em;
}

/*productos*/

.galeria{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 500px);
  grid-gap: 10px;
  padding: 20px;
}

.item {
  background-size: cover;
  background-position: center;
}

.card {
  width: 190px;
  height: 254px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
}
.wrapper {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.card-image {
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-weight: 900;
  transition: all 0.3s;
}

.content {
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 0.72em;
  text-transform: uppercase;
  font-weight: 500;
  color: #4d4d4d;
}

.price {
  font-size: 1em;
  font-weight: 700;
}

.old-price {
  font-size: 0.7em;
  text-decoration: line-through;
  color: #adadad;
}

.card-btn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: rgb(24, 24, 24);
  border: none;
  border-radius: 40px;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 500;
}
.card:hover .card-image {
  height: 120px;
}
.card:hover .card-btn {
  margin-top: 0;
}
.card-btn:hover {
  background-color: #c4b9f5;
  color: rgb(35, 35, 35);
}
.card:hover {
  background-color: white;
}

.tag {
  position: absolute;
  background-color: #c4b9f5;
  color: rgb(0, 0, 0);
  left: 12px;
  top: 12px;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 0.75em;
  font-weight: 500;
}

.item1 .card-image {
  background-image: url(img/album1-2.jpg);
}

.item2 .card-image {
  background-image: url(img/album3-1.jpg);
}

.item3 .card-image {
  background-image: url(img/album4.jpg);
}

.item4 .card-image {
  background-image: url(img/album5.jpg);
}

.item5 .card-image {
  background-image: url(img/album6.png);
}

.item6 .card-image {
  background-image: url(img/album7.jpg);
}

.item7 .card-image {
  background-image: url(img/album8.jpg);
}

.item8 .card-image {
  background-image: url(img/album9.png);
}

.item9 .card-image {
  background-image: url(img/album10.jpg);
}

.item10 .card-image {
  background-image: url(img/album11.jpg);
}

.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #c4b9f5;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
  }
  
  .form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form input[type="email"],
  .form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
  }
  
  .form input[type="email"]:focus,
  .form input[type="password"]:focus {
    outline: 2px solid var(--clr);
  }
  
  .label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
  }
  
  .form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
  }
  
  .span {
    text-decoration: none;
    color: var(--bg-dark);
  }
  
  .span a {
    color: var(--clr);
  }
  
/*centro ayuda*/

.form-search button {
  border: none;
  background: none;
  color: #8b8ba7;
}

.form-search {
  --timing: 0.3s;
  --width-of-input: 100%;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}
.form-search button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.form-search:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
.form-search:focus-within {
  border-radius: var(--after-border-radius);
}
.form-search:focus-within:before {
  transform: scale(1);
}
.form-search svg {
  width: 17px;
  margin-top: 3px;
}

.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

input:focus {
  outline: none;
}
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.dudas-consultas .itemd a {
  text-decoration: none;
  color: #c4b9f5;
  background-color: rgba(0, 0, 0, 0.503);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}



/* footer */

.footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.redes a {
  color: #c4b9f5;
  text-decoration: none;
  font-size: 30px;
}

@media  (max-width: 1024px) {
  .navbar .menu-links{
    display: none;
  }

  .navbar .toggle-btn{
    display: block;
  }

  .menu-cascada{
    display: block;
  }

  .galeria{
    grid-template-columns: repeat(3, 1fr);
  }

  .carousel{
    width: auto;
    height: auto;
  }
}
@media (max-width: 500px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=estilo.css.map */

@media (max-width: 670px){
  .galeria{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .dudas-consultas{
    grid-template-columns: 1fr;
  }
}